@using LibraryManagementSystemWeb.Models.Classes
@model List<Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>Id</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Quantity</th>
    </tr>

    @{ int counter = 0;}

    @foreach (var x in Model)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>@x.BookName</td>
            <td>@x.AuthorName</td>
            <td>@x.quantity</td>
            <td><a href="/Book/BringUpdatedBook/@x.BookId" class="btn btn-primary">Güncelle</a></td>
            <td><a href="/Book/DeleteBook/@x.BookId" class="btn btn-danger">Kitap Kaydı Sil</a></td>
        </tr>
    }

</table>

<a href="/Book/NewBook/" class="btn btn-primary">Yeni Kitap Kaydı Ekle</a>

